<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="websocket-url" content="ws://localhost:8080">

		<title>Dispatch</title>
		<link href="/stylesheets/screen.css" rel="stylesheet" type="text/css" />
	</head>
	<body data-controller="dispatch">
		<h1 class='logo closed'>Dispatch</h1>
		<%= yield %>

		<script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/vendor/noisy.js"></script>
		<script type="text/javascript" src="/javascripts/dispatch/application.js"></script>
	</body>
</html>
